version: '3.8'

services:
  # PostgreSQL 14 for storing structured data
  postgres:
    image: postgres:14
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: grocery_store
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app_network

  # Qdrant for vector storage and similarity search
  qdrant:
    image: qdrant/qdrant
    container_name: qdrant_db
    environment:
      QDRANT__SERVICE__API_KEY: "hahathgvinhngu"
    volumes:
      - qdrant_data:/qdrant/storage
    ports:
      - "6333:6333"
      - "6334:6334"
    networks:
      - app_network

volumes:
  postgres_data:
  qdrant_data:


networks:
  app_network:
    driver: bridge
